version: "3.7"

services:
  nginx:
    build: ./nginx
    volumes:
      - static_volume:/home/app/web/staticfiles
    ports:
      - 8080:80
    depends_on:
      - web
  web:
    build:
      context: ./api
      dockerfile: Dockerfile.prod
    command: gunicorn paperwaves.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/staticfiles
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
      - redis
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./.env.prod.db
  redis:
    image: redis:7-alpine
    expose:
      - 6379
  celery:
    build:
      context: ./api
      dockerfile: Dockerfile.prod
    command: celery -A paperwaves worker --loglevel=info
    env_file:
      - ./.env.prod
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  static_volume:
