[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
requests = "*"
lxml = "*"
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
scrapy = "*"
colorlog = "*"
scrapy-djangoitem = "*"
celery = {extras = ["redis"],version = "*"}
flower = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
